/* 

Daniela Cattoni: HTML y CSS - MAIN de INICIO.

Loreley Joray: HTML y CSS - MAIN de QUIENES SOMOS.

Jimena Zitaglia: Reseteo CSS. HTML y CSS - Header y Footer ambas páginas.

Luisina Gratti: HEAD ambas páginas.

*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }

.menu ul{
    font-family:"Raleway", sans-serif;
    font-weight: 400 ;
    font-size: 18px;
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
    }

.menu ul li a{
    color:rgb(255, 225, 230);
    font-weight: bold;
    border-style:inset;
    display: block;
    padding: 15px 50px;
    text-decoration: none;
    background-color: #ad10ad ;
    }
.menu ul li a:hover{
    background-color: rgb(245, 114, 243);
    }
.li1 {
    order: 1;
    flex-grow: 2;
     }
.li2 {
    order: 2;
    flex-grow: 2;
     }
.li3 {
    order: 3;
    flex-grow: 2;
     }
.li4 {
        order: 4;
        flex-grow: 2;
    }
.li5 {
        order: 5;
        flex-grow: 2;
    }

h1 {
    color:rgb(255, 225, 230); 
    font-size: 30px;
    font-style: normal;
    font-weight:700 ;
    letter-spacing: 5px;
    border-radius: 10px;
   /* width: 90%;*/
    margin: 50px 0px 30px 0px;
    text-align: center;  
    outline-style: double; 
    background-color:  #710671;
    }

#marginp {
    margin:50px 0px 30px 0px;
    }

    /* Daniela Cattoni */
body { font-family: "Raleway", sans-serif;
    font-size: 16px;
    background-color:rgb(253, 249, 230);
    margin: 30px;
    }

h2 {font-family: "raleway", sans-serif; 
    color: #ad10ad;
    margin: 20px;
    text-align: center;
    border-radius: 10px; 
    border: 1px solid #ad10ad;
    padding: 10px;
    background-color: rgb(255, 239, 251);;
    
    
    /*color: rgb(255, 225, 230); 
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 5px;
    border-radius: 10px;
     width: 90%;
    margin: auto;
    text-align: center;  
    outline-style: double; 
    background-color: #ad10ad;*/
    }

h3 {text-decoration: underline;
    font-size: 20px; 
    letter-spacing: 5px;
    color: #ad10ad
    }
    
.definicion  {display: flex;}

p {text-align: justify;
    line-height: 2;}

table {border: 1px solid rgb(219, 181, 255);
    background-color: rgb(255, 225, 230);
    margin-bottom: 10px; 
    }

.titulotabla {text-align: center;}
td {padding-left: 20px; font-style: oblique;}
tr {margin: 1px;}

.encabezado {color: #ad10ad; 
    margin: 50px 0px 30px 0px;
    -webkit-text-stroke-color:rgb(245, 114, 243);
    font-size: 22px;
    font-variant: small-caps;
    letter-spacing: 10px;
    -webkit-text-stroke: 1px;
    text-align: center;  }

.femicidio {display: flex;}


.fotopuño {padding: 10px; width:50%}

.fotomano {padding: 10px; width: 50%;}
/* 
@media screen and (max-width: 576px) {.definicion {display: table-row-group;} 
 }

 @media screen and (max-width: 576px) {.femicidio {display: table-row-group;} 
 }
 */
 footer{
    font-size: 16px;
    text-align: center;
    color:rgb(253, 249, 230);
    background-color: #ad10ad;
    display:block;
    padding-bottom: 20px;
    }
 #margincopy {
    padding: 10px 5px;
    }

 
 